body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    animation-delay: 5s;
    color: rgb(133, 175, 65);
  }
  
  h1 {
    border-top: 0cqb;
    color: rgb(228, 156, 156);
  }
  
  body {
    background-color: aqua;
  }
  